In [ ]:
1 Inverted Number Pattern
"""
Print the following pattern for the given N number of rows.
Pattern for N = 4
    4444
    333
    22
    1
"""

In [1]:
n = int(input())
i =1
while i <=n:
    j =1
    while j<=n-i+1:
        print(n-i+1, end="")
        j = j +1
    print()
    i =i+1

4
4444
333
22
1

2. Mirror Number Pattern
"""
Print the following pattern for the given N number of rows.
Pattern for N = 4
    ...1
    ..12
    .123
    1234
The dots represent spaces.
""" 
Sample Input :
3
Sample Output :
  1
 12
123

In [3]:
n = int(input())
i =1
while i <=n:
    s =1
    while s <=n-i:
        print(" ", end="")
        s = s+1
    j =1
    while j <=i:
        print(j, end="")
        j =j+1
    print()
    i = i +1

4
   1
  12
 123
1234

In [ ]:
3. Star Pattern
"""
Print the following pattern
Pattern for N = 4
    ...*
    ..***
    .*****
    *******
The dots represent spaces.
"""
Sample Input  :
3
Sample Output  :
   *
  ***
 *****

In [3]:
n = int(input())
i = 1
while i <= n:
    s = 1
    while s <= n-i:
        print(" " , end = "")
        s = s + 1
    star = 1
    while star <= i:
        print("*" , end = "")
        star = star + 1
    star2=i-1
    while star2>=1:
        print("*",end="")
        star2 = star2-1
    print()
    i = i+1

3
  *
 ***
*****

In [ ]:
4 Triangle of Numbers
"""
Print the following pattern for the given number of rows.
Pattern for N = 4
    ...1
    ..232
    .34543
    4567654
The dots represent spaces.
"""

In [7]:
n= int(input())
i=1
while i <=n:
    s =1
    while s<=n-i:
        print(" ", end="")
        s =s+1
    j=1
    p=i
    while j<=i:
        print(p, end="")
        j =j+1
        p =p+1
    n2=2*(i-1)
    while n2>=i:
        if i>1:
            print(n2, end="")
        n2=n2-1
    print()
    i =i+1

4
   1
  232
 34543
4567654

In [ ]:
5 Diamond of stars
"""
Print the following pattern for the given number of rows.
Note: N is always odd.
Pattern for N = 5
    ..*
    .***
    *****
    .***
    ..*
The dots represent spaces.
"""

In [12]:
n = int(input())
i=1
n1 = (n+1)/2
while i<=n1:
    s=1
    while s<=n1-i:
        print(" ", end="")
        s=s+1
    star=1
    while star<=(2*i-1):
        print("*", end="")
        star=star+1
    print()
    i=i+1
i=1
n2=n/2
while i <=n2:
    s2=1
    while s2<=i:
        print(" ", end="")
        s2=s2 + 1
    star2 =n-2*i
    while star2>0:
        print("*", end="")
        star2=star2-1
    print()
    i=i+1

5
  *
 ***
*****
 ***
  *

In [ ]:
6 Number Pattern
"""
Print the following pattern for n number of rows.
For eg. N = 5

1        1
12      21
123    321
1234  4321
1234554321
"""